doctype html 
html 
    head 
        title = "Hello world!"
    body 
        p.greetings#people Hello World! 
        p 
        h1 Welcome to Pug 
        p 
        div
            | to insert multiple text, 
            | you can you pipe operator 
        p 
        div. 
            But this is greate.
            You can you 
            to put tag 
            indent if according
